In [2]:
# Importing the geodesic module from the library
from geopy.distance import geodesic

In [6]:
Mylapore = (13.036791,80.267632)
Kamarajar_Statue = (13.054280, 80.197070)
Ramakrishna_Mutt_Old_Temple = (13.027340,80.266140)
Chennai_Lighthouse = (13.039802, 80.279575 )
Sri_Adikesava_Perumal_Peyalvar_Temple = (13.030747442101598, 80.27019608236971)

In [ ]:
print(geodesic(Mylapore,Kamarajar_Statue).km)

7.894279822265499

In [3]:
from sklearn.neighbors import DistanceMetric
from math import radians
import pandas as pd
import numpy as np

In [4]:
cities_df = pd.read_csv('landmark.csv')

In [5]:
cities_df['lat'] = np.radians(cities_df['lat'])
cities_df['lon'] = np.radians(cities_df['lon'])

In [6]:
cities_df.head()

,place,lat,lon,image
0,Mylapore,0.227535,1.400934,https://c8.alamy.com/comp/2DM794W/chennai-ind...
1,Kamarajar Statue,0.227840,1.399703,https://lh5.googleusercontent.com/p/AF1QipN3k...
2,Ramakrishna Mutt Old Temple,0.227370,1.400908,https://3.bp.blogspot.com/-HNdCfgr7Y8g/Wi7Z6s...
3,Chennai Lighthouse,0.227587,1.401143,https://www.kone.com/en/Images/Madras-Lightho...
4,Sri Adikesava Perumal Peyalvar Temple,0.227429,1.400979,https://upload.wikimedia.org/wikipedia/commons...

In [9]:
start_lat, start_lon = 	0.227535 , 1.400934

In [13]:
distances_km = []

In [17]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2—lat1)
   delta_lambda = np.radians(lon2 — lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 — a)))
   return np.round(res, 2)

SyntaxError: invalid character in identifier (3466958357.py, line 5)

In [18]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [19]:
for row in cities_df.itertuples(index=False):
   distances_km.append(haversine(start_lat, start_lon, row.Lat, row.Lon))

AttributeError: 'Pandas' object has no attribute 'Lat'

In [15]:
cities_df['DistanceFromNY'] = distances_km

ValueError: Length of values (0) does not match length of index (34)

In [8]:
dist = DistanceMetric.get_metric('haversine')

In [9]:
cities_df[['lat','lon']].to_numpy()

array([[0.22753493, 1.40093446],
       [0.22784017, 1.39970292],
       [0.22736998, 1.40090842],
       [0.22758748, 1.40114291],
       [0.22742945, 1.40097921],
       [0.22604806, 1.39881507],
       [0.22591472, 1.39875678],
       [0.22624103, 1.39824932],
       [0.22612137, 1.39876446],
       [0.22645473, 1.3985812 ],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan],
       [       nan,        nan]])

In [10]:
dist.pairwise(cities_df [['lat','lon']].to_numpy())*6373

array([[0.        , 7.88961558, 1.06359379, ...,        nan,        nan,
               nan],
       [7.88961558, 0.        , 8.06207364, ...,        nan,        nan,
               nan],
       [1.06359379, 8.06207364, 0.        , ...,        nan,        nan,
               nan],
       ...,
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan]])

In [11]:
pd.DataFrame(dist.pairwise(cities_df[['lat','lon']].to_numpy())*6373,  columns=cities_df.city.unique(), index=cities_df.city.unique())

AttributeError: 'DataFrame' object has no attribute 'city'

In [28]:
def haversine_vectorize(lon1, lat1, lon2, lat2):

    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

In [29]:
orig_dest_df = pd.DataFrame({
    'origin_city':['Bangalore','Mumbai','Delhi','Kolkatta','Chennai','Bhopal'],
    'orig_lat':[12.9716,19.076,28.7041,22.5726,13.0827,23.2599],
    'orig_lon':[77.5946,72.877,77.1025,88.639,80.2707,77.4126],
    'dest_lat':[23.2599,12.9716,19.076,13.0827,28.7041,22.5726],
    'dest_lon':[77.4126,77.5946,72.877,80.2707,77.1025,88.639],
    'destination_city':['Bhopal','Bangalore','Mumbai','Chennai','Delhi','Kolkatta']
                          })

In [30]:
orig_dest_df

  origin_city  orig_lat  orig_lon  dest_lat  dest_lon destination_city
0   Bangalore   12.9716   77.5946   23.2599   77.4126           Bhopal
1      Mumbai   19.0760   72.8770   12.9716   77.5946        Bangalore
2       Delhi   28.7041   77.1025   19.0760   72.8770           Mumbai
3    Kolkatta   22.5726   88.6390   13.0827   80.2707          Chennai
4     Chennai   13.0827   80.2707   28.7041   77.1025            Delhi
5      Bhopal   23.2599   77.4126   22.5726   88.6390         Kolkatta

In [31]:
haversine_vectorize(orig_dest_df['orig_lon'],orig_dest_df['orig_lat'],orig_dest_df['dest_lon'],
                   orig_dest_df['dest_lat'])

0    1143.449512
1     844.832190
2    1152.543623
3    1375.986830
4    1766.541600
5    1151.319225
dtype: float64

In [33]:
orig_dest_df['haversine_dist'] = haversine_vectorize(orig_dest_df['orig_lon'],orig_dest_df['orig_lat'],orig_dest_df['dest_lon'],orig_dest_df['dest_lat'])

In [34]:
orig_dest_df

,origin_city,orig_lat,orig_lon,dest_lat,dest_lon,destination_city,haversine_dist
0,Bangalore,12.9716,77.5946,23.2599,77.4126,Bhopal,1143.449512
1,Mumbai,19.0760,72.8770,12.9716,77.5946,Bangalore,844.832190
2,Delhi,28.7041,77.1025,19.0760,72.8770,Mumbai,1152.543623
3,Kolkatta,22.5726,88.6390,13.0827,80.2707,Chennai,1375.986830
4,Chennai,13.0827,80.2707,28.7041,77.1025,Delhi,1766.541600
5,Bhopal,23.2599,77.4126,22.5726,88.6390,Kolkatta,1151.319225